<%= form_for @photo, :html => { :multipart => true } do |f| %>

  <div class="field">
    <%= f.label :photo_url %>
    <%= f.text_field :photo_url %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <%= f.submit "add photo" %>
<% end %>

