<div id="photo_div" class="col-md-6">
<img id="show_photo" src=<%= @photo.photo_url %>></img>
</div>

<div id="recognition_results" class="col-md-6">

<p>Age: <span id="age_display"><%= @result["face_detection"].first["age"] %></span></p>

<% beauty = ((@result["face_detection"].first["beauty"]).to_f * 100).round(0) %>
<% race_p = (@result["face_detection"].first["race"].first[1] * 100).round(0) %>


<p>Gender:  <% if @result["face_detection"].first["sex"]== 0 %>
            <%= "female" %>
            <% elsif @result["face_detection"].first["sex"]== 1 %>
            <%= "male" %>
            <% else %>
            <%= "unkown" %>
            <% end %>
             </p>


</div>
<div id="bar-chart">
  <ul>
    <li class="beauty">
      <div class="end">BEAUTY <span class="value"><%= beauty %>%</span></div>
    </li>
    <li class="race">
      <div class="end"><%= @race.upcase %>  <span class="value"><%= race_p %>%</span></div>
    </li>
    <li class="emotion-1">
      <div class="end"><p><%= @emotion_names[0].upcase %> <span class="value"><%= (@emotion_values[0] *100).round(0) %>%</span></p></div>
    </li>
    <li class="emotion-2">
      <div class="end"><p><%= @emotion_names[1].upcase %> <span class="value"><%= (@emotion_values[1] *100).round(0) %>%</span></p></div>
    </li>
    <li class="emotion-3">
      <div class="end"><p><%= @emotion_names[2].upcase %> <span class="value"><%= (@emotion_values[2] *100).round(0) %>%</span></p></div>
    </li>
  </ul>
</div>

