<!DOCTYPE html>
<html>
<head>
  <title>Doppelganger</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   <script src="http://www.webcamsnapper.com/latest.js"></script>
   <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <%= javascript_include_tag 'webcam' %>
  <%= csrf_meta_tags %>


</head>
<body>
<h1 id="homepage_title">The Hotness</h1>

<%= yield %>

</body>
</html>
